.product{
    height: 550px;
    width: 100%;
    /* border: 1px solid; */
    border-radius: 15px;
    position: relative;
}
.product img{
    /* height: 50%; */
    padding: 7px;
    border-radius: 15px;
}

.product-info button{
    background-color: #FFE0B3;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
}
.product-info button:hover{
    background-color: orange;
}